<h1>Select Airport :
  <select name="airports" class="rounded-inputs20 select-items col-md-3" (change)="onSelect($event)">
    <option *ngFor="let airport of airports">{{airport.icao}}</option>
  </select> 
  </h1>
  
  
  <div *ngIf="selectedAirport">
  
    <div><h2>Statistics For ICAO:{{selectedAirport}}</h2></div>
    <div>
      <label for="airport-name">Top 2 STARS Waypoints: </label>
      <pre><code>{{ starsWaypointResult | json }} </code></pre>
    </div>
    <div>
      <label for="airport-name">Top 2 SIDS Waypoints: </label>
      <pre><code>{{ sidsWaypointResult | json }} </code></pre>
    </div>
  </div>
